
h1{
    color: white;
    font-size: 3rem;
    font-family: bungee shade;
}
h2{
    color: antiquewhite;
}
.container{
    text-align: center;
    margin-top: 10%;

}
button{
    width: 100px;
    height: 100px;
    border: solid red;
    margin: 5%;
    border-radius: 20%;

}
.drum{
    background-image: url("images/drums_pic.png");
}
.piano{
    background-image: url("images/png-transparent-white-and-black-piano-keyboard-digital-piano-musical-keyboard-piano-keys-piano-electronic-device-product.png");
}
.flute{
    background-image: url("images/flute_img.jpg");
}
@keyframes move {
    100% {
        transform: translate3d(0, 0, 1px) rotate(360deg);
    }
}

.background {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background: #3E1E68;
    overflow: hidden;
}

.background span {
    width: 7vmin;
    height: 7vmin;
    border-radius: 7vmin;
    backface-visibility: hidden;
    position: absolute;
    animation: move;
    animation-duration: 50;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}


.background span:nth-child(0) {
    color: #E45A84;
    top: 65%;
    left: 50%;
    animation-duration: 6s;
    animation-delay: -1s;
    transform-origin: -18vw 17vh;
    box-shadow: 14vmin 0 2.077356890788156vmin currentColor;
}
.background span:nth-child(1) {
    color: #583C87;
    top: 75%;
    left: 1%;
    animation-duration: 6s;
    animation-delay: -1s;
    transform-origin: 19vw 10vh;
    box-shadow: 14vmin 0 2.61396121496544vmin currentColor;
}
.background span:nth-child(2) {
    color: #583C87;
    top: 39%;
    left: 56%;
    animation-duration: 6s;
    animation-delay: -1s;
    transform-origin: -24vw 14vh;
    box-shadow: 14vmin 0 1.805574511141159vmin currentColor;
}
.background span:nth-child(3) {
    color: #E45A84;
    top: 55%;
    left: 88%;
    animation-duration: 6s;
    animation-delay: -1s;
    transform-origin: 13vw -22vh;
    box-shadow: 14vmin 0 2.3772045890947218vmin currentColor;
}
.background span:nth-child(4) {
    color: #E45A84;
    top: 63%;
    left: 44%;
    animation-duration: 6s;
    animation-delay: -1s;
    transform-origin: -13vw -13vh;
    box-shadow: 14vmin 0 2.2583535322382784vmin currentColor;
}
.background span:nth-child(5) {
    color: #E45A84;
    top: 28%;
    left: 30%;
    animation-duration: 6s;
    animation-delay: -1s;
    transform-origin: -13vw -8vh;
    box-shadow: -14vmin 0 2.5267455176957165vmin currentColor;
}
.background span:nth-child(6) {
    color: #FFACAC;
    top: 7%;
    left: 23%;
    animation-duration: 6s;
    animation-delay: -1s;
    transform-origin: -7vw -4vh;
    box-shadow: 14vmin 0 2.592787136358439vmin currentColor;
}
.background span:nth-child(7) {
    color: #FFACAC;
    top: 45%;
    left: 43%;
    animation-duration: 6s;
    animation-delay: -1s;
    transform-origin: -4vw 3vh;
    box-shadow: -14vmin 0 2.1236087956904894vmin currentColor;
}
.background span:nth-child(8) {
    color: #FFACAC;
    top: 96%;
    left: 67%;
    animation-duration: 6s;
    animation-delay: -1s;
    transform-origin: -24vw -7vh;
    box-shadow: 14vmin 0 1.9523345731592787vmin currentColor;
}
.background span:nth-child(9) {
    color: #E45A84;
    top: 19%;
    left: 49%;
    animation-duration: 6s;
    animation-delay: -1s;
    transform-origin: -21vw 4vh;
    box-shadow: -14vmin 0 2.152461874998207vmin currentColor;
}
.background span:nth-child(10) {
    color: #583C87;
    top: 32%;
    left: 44%;
    animation-duration: 6s;
    animation-delay: -1s;
    transform-origin: -16vw -5vh;
    box-shadow: 14vmin 0 2.1690602455218384vmin currentColor;
}
.background span:nth-child(11) {
    color: #583C87;
    top: 95%;
    left: 54%;
    animation-duration: 6s;
    animation-delay: -1s;
    transform-origin: -7vw 19vh;
    box-shadow: -14vmin 0 2.087434628750545vmin currentColor;
}
.background span:nth-child(12) {
    color: #FFACAC;
    top: 4%;
    left: 16%;
    animation-duration: 6s;
    animation-delay: -1s;
    transform-origin: 20vw -8vh;
    box-shadow: 14vmin 0 2.182397231054452vmin currentColor;
}
.background span:nth-child(13) {
    color: #E45A84;
    top: 92%;
    left: 8%;
    animation-duration: 6s;
    animation-delay: -1s;
    transform-origin: -13vw 21vh;
    box-shadow: -14vmin 0 1.8114285249950475vmin currentColor;
}
.background span:nth-child(14) {
    color: #FFACAC;
    top: 28%;
    left: 94%;
    animation-duration: 6s;
    animation-delay: -1s;
    transform-origin: 13vw -8vh;
    box-shadow: -14vmin 0 1.9875694117192602vmin currentColor;
}
.background span:nth-child(15) {
    color: #E45A84;
    top: 95%;
    left: 42%;
    animation-duration: 6s;
    animation-delay: -1s;
    transform-origin: -15vw -17vh;
    box-shadow: -14vmin 0 1.8650704641029074vmin currentColor;
}
.background span:nth-child(16) {
    color: #FFACAC;
    top: 76%;
    left: 80%;
    animation-duration: 6s;
    animation-delay: -1s;
    transform-origin: -5vw -13vh;
    box-shadow: 14vmin 0 2.334064936474748vmin currentColor;
}
.background span:nth-child(17) {
    color: #583C87;
    top: 54%;
    left: 94%;
    animation-duration: 6s;
    animation-delay: -1s;
    transform-origin: -17vw 7vh;
    box-shadow: 14vmin 0 2.5829303648917836vmin currentColor;
}
.background span:nth-child(18) {
    color: #E45A84;
    top: 10%;
    left: 23%;
    animation-duration: 6s;
    animation-delay: -1s;
    transform-origin: 0vw -1vh;
    box-shadow: -14vmin 0 1.9194587684427147vmin currentColor;
}
.background span:nth-child(19) {
    color: #E45A84;
    top: 21%;
    left: 78%;
    animation-duration: 6s;
    animation-delay: -1s;
    transform-origin: -8vw -1vh;
    box-shadow: -14vmin 0 2.319309442630165vmin currentColor;
}
.background span:nth-child(20) {
    color: #FFACAC;
    top: 83%;
    left: 72%;
    animation-duration: 6s;
    animation-delay: -1s;
    transform-origin: 25vw 3vh;
    box-shadow: -14vmin 0 2.408908826031128vmin currentColor;
}
.background span:nth-child(21) {
    color: #583C87;
    top: 62%;
    left: 61%;
    animation-duration: 6s;
    animation-delay: -1s;
    transform-origin: 8vw 25vh;
    box-shadow: -14vmin 0 2.2337705104417145vmin currentColor;
}
.background span:nth-child(22) {
    color: #E45A84;
    top: 88%;
    left: 15%;
    animation-duration: 6s;
    animation-delay: -1s;
    transform-origin: 11vw -13vh;
    box-shadow: -14vmin 0 1.8568839526180871vmin currentColor;
}
.background span:nth-child(23) {
    color: #E45A84;
    top: 87%;
    left: 86%;
    animation-duration: 6s;
    animation-delay: -1s;
    transform-origin: -22vw -4vh;
    box-shadow: -14vmin 0 2.4671420893538962vmin currentColor;
}
.background span:nth-child(24) {
    color: #E45A84;
    top: 95%;
    left: 79%;
    animation-duration: 6s;
    animation-delay: -1s;
    transform-origin: -10vw 24vh;
    box-shadow: -14vmin 0 2.070037827460233vmin currentColor;
}
.background span:nth-child(25) {
    color: #FFACAC;
    top: 74%;
    left: 33%;
    animation-duration: 6s;
    animation-delay: -1s;
    transform-origin: 23vw 14vh;
    box-shadow: -14vmin 0 2.5652050859175333vmin currentColor;
}
.background span:nth-child(26) {
    color: #583C87;
    top: 74%;
    left: 14%;
    animation-duration: 6s;
    animation-delay: -1s;
    transform-origin: 7vw 8vh;
    box-shadow: 14vmin 0 2.173625399841487vmin currentColor;
}
.background span:nth-child(27) {
    color: #E45A84;
    top: 36%;
    left: 34%;
    animation-duration: 6s;
    animation-delay: -1s;
    transform-origin: 16vw -13vh;
    box-shadow: 14vmin 0 2.496132051906601vmin currentColor;
}
.background span:nth-child(28) {
    color: #E45A84;
    top: 67%;
    left: 8%;
    animation-duration: 6s;
    animation-delay: -1s;
    transform-origin: -2vw 3vh;
    box-shadow: -14vmin 0 2.6596825216309075vmin currentColor;
}
.background span:nth-child(29) {
    color: #583C87;
    top: 56%;
    left: 60%;
    animation-duration: 6s;
    animation-delay: -1s;
    transform-origin: -15vw -4vh;
    box-shadow: -14vmin 0 2.389180774791086vmin currentColor;
}
.background span:nth-child(30) {
    color: #E45A84;
    top: 17%;
    left: 4%;
    animation-duration: 6s;
    animation-delay: -1s;
    transform-origin: 23vw 12vh;
    box-shadow: 14vmin 0 2.739124502832003vmin currentColor;
}
.background span:nth-child(31) {
    color: #E45A84;
    top: 73%;
    left: 79%;
    animation-duration: 6s;
    animation-delay: -1s;
    transform-origin: -3vw 18vh;
    box-shadow: 14vmin 0 1.7717861780417017vmin currentColor;
}
.background span:nth-child(32) {
    color: #FFACAC;
    top: 28%;
    left: 14%;
    animation-duration: 6s;
    animation-delay: -1s;
    transform-origin: -19vw -21vh;
    box-shadow: 14vmin 0 1.7786965410701443vmin currentColor;
}
.background span:nth-child(33) {
    color: #583C87;
    top: 61%;
    left: 87%;
    animation-duration: 6s;
    animation-delay: -1s;
    transform-origin: -11vw -11vh;
    box-shadow: 14vmin 0 2.4245172340308327vmin currentColor;
}
.background span:nth-child(34) {
    color: #E45A84;
    top: 6%;
    left: 2%;
    animation-duration: 6s;
    animation-delay: -1s;
    transform-origin: -19vw -23vh;
    box-shadow: -14vmin 0 2.38896485769936vmin currentColor;
}
.background span:nth-child(35) {
    color: #FFACAC;
    top: 15%;
    left: 80%;
    animation-duration: 6s;
    animation-delay: -1s;
    transform-origin: -10vw -15vh;
    box-shadow: 14vmin 0 1.834924032918635vmin currentColor;
}
.background span:nth-child(36) {
    color: #E45A84;
    top: 19%;
    left: 83%;
    animation-duration: 6s;
    animation-delay: -1s;
    transform-origin: -12vw -5vh;
    box-shadow: 14vmin 0 2.0198506593214067vmin currentColor;
}
.background span:nth-child(37) {
    color: #583C87;
    top: 34%;
    left: 2%;
    animation-duration: 6s;
    animation-delay: -1s;
    transform-origin: 25vw -16vh;
    box-shadow: 14vmin 0 2.6165098006438647vmin currentColor;
}
.background span:nth-child(38) {
    color: #FFACAC;
    top: 28%;
    left: 41%;
    animation-duration: 6s;
    animation-delay: -1s;
    transform-origin: -8vw -16vh;
    box-shadow: -14vmin 0 2.572071274074016vmin currentColor;
}
.background span:nth-child(39) {
    color: #E45A84;
    top: 15%;
    left: 36%;
    animation-duration: 6s;
    animation-delay: -1s;
    transform-origin: -9vw 24vh;
    box-shadow: -14vmin 0 2.697629851401487vmin currentColor;
}
.background span:nth-child(40) {
    color: #583C87;
    top: 29%;
    left: 80%;
    animation-duration: 6s;
    animation-delay: -1s;
    transform-origin: 2vw -13vh;
    box-shadow: -14vmin 0 2.1981420220370556vmin currentColor;
}
.background span:nth-child(41) {
    color: #E45A84;
    top: 68%;
    left: 94%;
    animation-duration: 6s;
    animation-delay: -1s;
    transform-origin: 20vw -15vh;
    box-shadow: -14vmin 0 2.3280846210840327vmin currentColor;
}
.background span:nth-child(42) {
    color: #E45A84;
    top: 69%;
    left: 73%;
    animation-duration: 6s;
    animation-delay: -1s;
    transform-origin: 17vw -4vh;
    box-shadow: -14vmin 0 1.8614480060305307vmin currentColor;
}
.background span:nth-child(43) {
    color: #E45A84;
    top: 82%;
    left: 6%;
    animation-duration: 6s;
    animation-delay: -1s;
    transform-origin: -21vw 7vh;
    box-shadow: -14vmin 0 2.0141445339922006vmin currentColor;
}
.background span:nth-child(44) {
    color: #583C87;
    top: 62%;
    left: 24%;
    animation-duration: 6s;
    animation-delay: -1s;
    transform-origin: -4vw 21vh;
    box-shadow: 14vmin 0 2.1207016557394667vmin currentColor;
}
.background span:nth-child(45) {
    color: #E45A84;
    top: 87%;
    left: 81%;
    animation-duration: 6s;
    animation-delay: -1s;
    transform-origin: 3vw 9vh;
    box-shadow: 14vmin 0 2.650505276863229vmin currentColor;
}
.background span:nth-child(46) {
    color: #E45A84;
    top: 54%;
    left: 77%;
    animation-duration: 6s;
    animation-delay: -1s;
    transform-origin: 23vw -20vh;
    box-shadow: -14vmin 0 1.9208631226661712vmin currentColor;
}
.background span:nth-child(47) {
    color: #E45A84;
    top: 3%;
    left: 43%;
    animation-duration: 6s;
    animation-delay: -1s;
    transform-origin: 4vw 14vh;
    box-shadow: 14vmin 0 1.8625480285025986vmin currentColor;
}
.background span:nth-child(48) {
    color: #FFACAC;
    top: 61%;
    left: 80%;
    animation-duration: 6s;
    animation-delay: -1s;
    transform-origin: 3vw 1vh;
    box-shadow: -14vmin 0 2.3796542500122113vmin currentColor;
}
.background span:nth-child(49) {
    color: #FFACAC;
    top: 73%;
    left: 79%;
    animation-duration: 6s;
    animation-delay: -1s;
    transform-origin: -19vw 17vh;
    box-shadow: 14vmin 0 2.2449329744194504vmin currentColor;
}

  